<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Web-Tiny-Starter</title>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script type="module">
    import App from "{{entry}}";

    const container = document.getElementById("root");
    const root = ReactDOM.createRoot(container);
    root.render(App());
  </script>
</body>
</html>
